@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TuesPechkin</h1>
    <p class="lead">Take a snapshot!!!</p>
    
    <a href="@Url.Action("Screenshot")" target="_blank" class="btn btn-primary">Screenshot</a>
    <a href="@Url.Action("ScreenshotAsync")" target="_blank" class="btn btn-primary">Screenshot Async</a>
</div>