<div class="jumbotron">
    <h1>TuesPechkin.Api</h1>
    <p class="lead">
        TuesPechkin is a library used to convert Html pages to pdf's/images. Example code is included below on how
        to use this api.
    </p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">TuesPechkin.Service</h3>
    </div>
    <div class="panel-body">
        <p>The service can be downloaded as a Nuget package from the CPS package library. "TuesPechkin.Service"</p>
        <div class="code-block">
            <img src="~/Content/Images/Service.png" alt="Example Service" />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Example Client Action</h3>
    </div>
    <div class="panel-body">
        <p>
            Execute the service by providing it with the Uri of the api (see Uri enum in service) and the url of the page you wish to convert. 
            It can be run synchronous or asynchronous.
        </p>
        <div class="code-block">
            <img src="~/Content/Images/Action.png" alt="Example Action" />
        </div>
        <p><strong>Note:</strong> In order to test locally, you will need to host the api locally.</p>
    </div>
</div>